<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<base href="/">
		<link rel="stylesheet" href="app.css" type="text/css" />
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous">
		</script>
    <title>Laptop Checkout</title>
  </head>
  <body>
		<div id="laptop-view">
			<h1>Laptop Checkout</h1>
			<ul class="laptop-list"></ul>

			<form id="laptopInput">
				<input id="laptopNameInput" type="text" placeholder="Name">
				<input id="laptopNumInput" type="number" placeholder="Serial Number">
				<button>Add Laptop</button>
			</form>
		</div>

		<div id="checkout-view">
			<form id="home-button">
					<button>Home</button>
			</form>
			<h1></h1>
			<div id="currentCheckout"></div>

			<form id="checkoutInput">
				<input id="userNameInput" type="text" placeholder="Name">
				<input id="mgrNameInput" type="text" placeholder="Manager Who Approved">
				<input id="dueDateInput" type="date" placeholder="Due Date">
				<button>Check out</button>
			</form>
		</div>

    <script type="text/javascript" src="index.js"></script>
  </body>
</html>